a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}

p {
	font-size: 1rem;
}


/* ===============ESTILOS DEL HEADER Y NAVBAR======================== */

.logo-header {
	max-width:125px;
} 

.login-button-navbar {
    color: white;
    text-decoration: none;
}

.login-button-navbar:hover {
    text-decoration: none;
    color: #fff;
} 

.clima-header {
    margin: 0 -25px;
} 

.navbar-instagram , .navbar-facebook , .navbar-twitter {
    font-size: 3rem;
    color: #000;
}

.button-modal-regist {
    color: #000;
}
.button-modal-regist:hover {
    text-decoration: none;
    color: #fff;
}

.info-header-navbar {
    font-size: 1.4rem;
    cursor:help;
}

.button-confirm-regist {
    color: #fff;
    text-decoration: none;
}

.button-confirm-regist:hover {
    text-decoration: none;
    color: #FFF;
}

 .search-mobile {
    width: 45px; /*ancho por defecto*/
    background: #ededed url('../img/search-icon.png') no-repeat 9px center; /*icono lupa*/
    padding: 9px 10px 9px 32px;
    border-radius: 15em;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
 .search-mobile:focus {
    width: 130px; /*tamaño del boton buscar al hacer click*/
    padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
    background-color: #FFF;
}



/* ================FIN DE ESTILOS DEL HEADER Y NAVBAR======================== */


/* ======================Usuario Y Perfil de Usuario============================ */

section {
    margin-top: 30px;
}

.personal-data {
    background: #f8f7f7d3;
}

.personal-data-text p {
    color: red;
    font-size: 1em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    border-bottom-right-radius: 0%;
    padding: 10px;
    margin-left: 3px;
}


.coment-card {
    margin-top: 100px;
}

.card-comented {
    padding: 20px;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.ad-imgs {
    width: 1000px;
    height: 300px;
}

.likes-dislikes {
    font-size: 1rem;
    padding: 0%;
    text-align: end;
    margin-bottom: 0%
}



/* ======================LOGIN============================ */


.capbox {
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
    padding: 8px 40px 8px 8px;
    
	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	border-radius: 4px;
	}

.section-login {
    margin-top: 100px;
}

.start-sesion {
    text-decoration: none;
    color: white;
}

.start-sesion:hover {
    text-decoration: none;
    color: #000;
}


/*=============================Seccion Footer=========================*/

.links-footer {
	font-size: 1.7rem;
}
.links-footer span{
	font-size: 1.1rem;
}


/*===========================Seccion Contacto=========================*/

.contacto-texarea {
	max-width: 500px;
}

/* ========================== Magin Fixes ===============================*/


.regist-margin-fix {
    text-align: center;
    width: inherit;
    margin-bottom: auto;
}

@media (max-width: 767px) {
.ul-navbar {
    text-align: end;
    margin-left:30%;
}
.img-navbar {
    margin-left: auto;
}
.img-navbar-profile {
    margin-left: auto;
}
.serch-margin-fix {
    margin-left:auto;
}
.info-margin-fix {
    margin-left: auto;
}
.button-margin-fix {
    margin-left: auto;
}
}
