a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
p {
	font-size: 1rem;
}


/*Seccion Navbar y Header*/

.logo-navbar {
    margin-right: -100px 
} 

.navbar-instagram , .navbar-facebook , .navbar-twitter {
    font-size: 3rem;
}

.button-modal-regist {
    color: #000;
}
.button-modal-regist:hover {
    text-decoration: none;
    color: #fff;
}


/*Seccion Footer*/

.links-footer {
	font-size: 1.7rem;
}
.links-footer span{
	font-size: 1.1rem;
}
