a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}

.logo-navbar {
    margin-right: -100px 
} 

.navbar-instagram , .navbar-facebook , .navbar-twitter {
    font-size: 3rem;
}

.button-modal-regist {
    color: #000;
}
.button-modal-regist:hover {
    text-decoration: none;
    color: #fff;
}

.links-footer {
	font-size: 1.8rem;
}